@import './_event-section';

section.event.past-event {
    background-color: #F5F5F5;
}

section.event.past-event .more-articles {
    display: inline-block;
    margin: 30px;
    padding: 15px 50px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 50px;
    background-color: #F5B204;
}

section.event.past-event .more-articles:hover {
    transition: all 0.35s ease;
    transform: translateY(2px);
    color: #F5B204;
    background-color:rgba(39, 50, 72, 0.6);
}

section.event.past-event .more-articles p {
    float: left;
    margin: auto;
}
section.event.past-event .more-articles i {
    position: relative;
    float: right;
    margin: auto;
    padding-top: 2px;
}
