div.article-list {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: #F5F5F5;
    padding: 60px 20px;
}

.article-list .content {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 200px;
}
