.navbar {
    background-color: $tengineer !important;

    .topicon i {
        padding-top: 3px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .nav-effect{
        transition: all 0.35s ease;
        color: #fff;
    }

    .nav-effect:hover{
        transform: translateY(2px);
        color: $cherryblossom;
    }

    .nav-link{
        color: #fff !important;
        font-size: 14px;
        font-weight: 700;
        padding-top: 16px;
    }

    .nav-link:hover{
        transition: all 0.35s ease;
        transform: translateY(2px);
        color: $cherryblossom !important;
    }
}
