@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

$hero-bg: '{{ relURL "img/tengineer.png" }}';
{{ if .Site.Params.home.scenery }}
  $activity-scenery: '{{ relURL .Site.Params.home.scenery }}';
{{ else }}
  $activity-scenery: '{{ relURL "img/tengineer.png" }}';
{{ end }}

@import './_base';

@import './_navbar';
@import './_footer';

{{ if .IsHome }}
  // style for top page.
  @import './_event-item';

  {{ range .Site.Params.home.sections }}
    @import './home/_{{ . }}';
  {{ end }}
{{ else }}
  // standard pages.

  @import './_event-item';
  @import './_article-list';
  @import './_article';
{{ end }}
