<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>

    <meta rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="viewport" content="width=device-width"/>

    {{ partial "bootstrap.html" }}

    {{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "style.css" . | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <link rel="icon" type="image/svg+xml" href="{{ relURL "img/tengineer.png" }}" />

    {{- $title := .Title }}
    {{- if (and .IsNode (eq .Section "activity")) }}
      {{- $title = "過去の活動" }}
    {{- end }}
    <title>{{ if not .IsHome}}{{ $title }} | {{ end }}{{ .Site.Title }}</title>

    {{- if .IsPage }}
      {{ $customLink := .Params.Get "custom-link" }}
      {{- if $customLink }}
        {{- if (eq $customLink "none")}}
          <meta http-equiv="refresh" content="0; URL=..">
        {{ else }}
          <meta http-equiv="refresh" content="0; URL={{ .Params.Get "custom-link" }}">
        {{ end }}
      {{ end }}
    {{ end }}

    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{- with .OutputFormats.Get "rss" }}
      <link rel="alternate" type="application/rss+xml" href="{{ .RelPermalink }}" title="{{ $.Site.Title }}">
    {{- end }}

    <link rel="canonical" href="{{ .Permalink }}">
  </head>
  <body>
    {{ partial "navbar.html" . }}

    {{- block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
    </div>
  </body>
</html>
