{{ define "main" }}
<div class="article-list">
  <h2>過去の活動</h2>
  {{- $paginator := .Paginate (.Pages.ByParam "event-date").Reverse }}
  <div class="content">
    {{- range $paginator.Pages }}
      {{ $link := .Params.Get "custom-link" }}
      {{ if not $link }}
        {{ $link = .RelPermalink }}
      {{ end }}
      {{- partial "activity" (dict "date" (.Params.Get "event-date") "title" .Title "link" $link)}}
    {{- end }}
  </div>

  <footer class="pager">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}"  class="prev-post">
      ◁
    </a>
    {{ end }}

    {{ with $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="next-post">
      ▷
    </a>
    {{ end }}
  </footer>
</div>
{{ end }}
