<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>$pagetitle$ - TENGINEER福岡</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <h1 class="title"><a href="../.." class="top-link">TENJINEER福岡</a></h1>

    <header class="header">
      <h2 class="sub-title">
        過去の活動
      </h2>

      <h1>$title$</h1>

      <div class="event-info">
        <div class="ev-date">
          <div class="ev-yr">$event-yr$</div>
          <div class="ev-day">$event-mo$/$event-day$</div>
        </div>

        <div class="ev-weekday $event-wd-class$">$event-wd$</div>

        <div class="event-name">
             $event-name$
        </div>
      </div>

      <div class="post-meta">
        <div class="date">投稿　$date$</div>
        <div class="author"><span class="desc">投稿者</span>　$author$</div>
      </div>
    </header>

    <div class="post content">
      <div class="toc">
        $table-of-contents$
      </div>

      <article>
        $body$
      </article>
    </div>

    <footer class="pager">
      $if(prev-post)$
      <a href="../$prev-post$/"  class="prev-post">
        ◁ $prev-title$
      </a>
      $endif$

      $if(next-post)$
      <a href="../$next-post$/" class="next-post">
        $next-title$ ▷
      </a>
      $endif$
    </footer>
  </body>
</html>
