<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link href="style.css" rel="stylesheet"/>
    <title>学生コミュニティ TENGINEER福岡</title>
  </head>
  <body>
    <h1 class="title">TENGINEER福岡</h1>

    <div class="content">

      <section class="top future-event">
        <div class="section-contents">
          <h2>今後の予定</h2>
          <div class="section-contents">
            $EVENTS$

            <div class="mokumoku">
              毎週土日 14:00〜 / 20:00〜 週末もくもく会
            </div>
          </div>
        </div>
      </section>

      <section class="top about-us">
        <div class="section-contents">
          <h2>TENGINEER福岡とは</h2>
          2022.4に結成された学生コミュニティ。<br>
          プログラミングや情報系の資格に興味のある仲間が集まり、Discord での交流やイベント開催を行っています。
        </div>
      </section>

      <section class="top past-event">
        <div class="section-contents">
          <h2>過去の活動</h2>
          <div class="section-contents">
            $ARTICLES$
          </div>
        </div>

        <a class="more-articles" href="article/">More ▶</a>
      </section>

      <section class="top sns">
        <h2>SNS</h2>
        <div class="twitter-frame">
          <a class="twitter-timeline" href="https://twitter.com/TENGINEER2022?ref_src=twsrc%5Etfw" data-height="800px">Tweets by TENGINEER2022</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </section>
    </div>
  </body>
</html>
