@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

:root {
    --primary:#82C5CC;
    --primary2:#0d6efd;
    --tengineer:#82C5CC;
    --cherryblossom: #FFA3CB;
    --tree: #916034;
    --penguin: #2EB2E8;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.2);
    --bg-light: #f5f5f5;
}

.bg-light {
    background-color: var(--bg-light) !important;
}

.text-tengineer {
    color: var(--tengineer);
}

.text-tree {
    color: var(--tree);
}

.text-penguin {
    color: var(--penguin);
}

.text-cherryblossom {
    color: var(--cherryblossom);
}

.logo {
    width: 160px;
}

section{
    padding-top: 70px;
    padding-bottom: 100px;
}

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    padding: 0px 0;
    background-color: #82C5CC;
    background-color: rgba(39, 50, 72, 0.6);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}



/* navbar section  */
.topicon i{
    padding-top: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.navbar {
    background-color: var(--tengineer) !important;
}

.nav-effect{
    transition: all 0.35s ease;
    color: #fff;
}

.nav-effect:hover{
    transform: translateY(2px);
    color: var(--cherryblossom);
}

.navbar .nav-link{
    color: #fff !important;
    font-size: 14px;
    font-weight: 700;
    padding-top: 16px;
}

.navbar .nav-link:hover{
    transition: all 0.35s ease;
    transform: translateY(2px);
    color: var(--cherryblossom) !important;
}



/* hero section */
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
    .hero {
        background-size: cover !important;
    }
    .hero::after{
        background-color: rgba(39, 50, 72, 0.6);
    }
}
.hero {
    height: 90vh !important;
    background-image: url({{ relURL "img/tengineer.png" }});
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(39, 50, 72, 0.8);
    z-index: -1;
}

.sns-icons{
    display: flex;
    align-items: center;
    justify-content: center;

}

.sns-icons a {
    width: 60px;
    height: 60px;
    background-color: var(--penguin);
    border: 2px solid var(--tree);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 20px;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}

.sns-icons a .bx{
    font-size: 25px;
}

.sns-icons a img{
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

.sns-icons a:hover {
    color: var(--penguin);
    background-color: var(--cherryblossom);
}

.sns-icons a:hover img:nth-of-type(2){
    opacity: 0;
}



/* feature section */
.col-img {
    background-image: url({{ relURL "./img/tengineer.png" }});
    background-position: center;
    background-size: cover;  /* 画像の全部を収める事ができる */
    min-height: 500px;
}

.features-b {
    margin-bottom: 80px;
}



/* activity section */
.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    background-color: var(--penguin);
    border-radius: 100px;
    flex: none;
}



/* blog esction  */
/* pen.cssに記述 */



/* SNS section */
/* .twitter-timeline{
    margin: auto;
} */


/* member section */
.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0.35s ease;
}

.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.team-member img{
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background-color: var(--penguin);
    border: 2px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-left: 5px;
    transition: all 0.4s ease;
}

.social-icons a:hover {
    color: var(--penguin);
    border: 2px solid var(--penguin);
    background-color: transparent;
}



/* contact section */
form input.form-control {
    height: 56px;
}

form .form-control {
    border: transparent;
    border-radius: 0;
    background-color: rgba(0,0,0,0.04);
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 10px;
}

.btn:hover{
    transition: all 0.4s ease;
    transform: translateY(2px);
}



/* footer section */
.footer-top {
    background-image: url(./img/tengineer.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.footer-top::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(39, 50, 72, 0.5) !important;
}

.copyright {
    position: absolute;
    color: #fff;
    top: 85%;
    left: 50%;
    transform: translate(-40%,-50%);
    font-size: small;
}

@media screen and (max-width:500px) {
    /*スマホ用のcssを記述*/
    .copyright{
        font-size: 8px;
    }

}
@media screen and (min-width: 960px) {
    .copyright{
        font-size: small;
    }
    .com {
        float: left;
    }
    .arr {
        float: left;
    }
}


/* from pen.css */
section.event.upcoming-event {
    background-color: #E5E5E5;
}


section.event {
    text-align: center;
    line-height: 1.8em;
}


section.event .section-contents {
    max-width: 900px;
    margin: 0 auto;
}

section.event.future-event .mokumoku {
    margin-top: 50px;
}

section.event.past-event {
    background-color: #F5F5F5;
}

section.event.past-event .more-articles {
    display: inline-block;
    margin: 30px;
    padding: 15px 50px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 50px;
    background-color: #F5B204;
}

section.event.past-event .more-articles:hover {
    transition: all 0.35s ease;
    transform: translateY(2px);
    /* color:   var(--cherryblossom); */
    color: #F5B204;
    /* background-color: var(--penguin); */
    background-color:rgba(39, 50, 72, 0.6);
}

section.event.past-event .more-articles p {
    float: left;
    margin: auto;
}
section.event.past-event .more-articles i {
    position: relative;
    float: right;
    margin: auto;
    padding-top: 2px;
}

section.event h2 {
    margin: 0;
    padding: 50px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.3em;
    color: #F5B204;
}

a.ev-link {
    display: block;
    color: black;
    text-decoration: none;
}

.ev-row {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 20px 30px;
}

.ev-date {
    /* width: 20%; */
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    align-items: center;
}

.ev-yr {
    font-size: 0.8rem;
    color: gray;
    line-height: 100%;
    text-align: center;
}

a:hover .ev-yr {
    color:  rgb(213, 213, 213);
}

.ev-day {
    font-size: 1.5rem;
    line-height: 100%;
}

.ev-weekday {
    /* width: 50px; */
    padding-top: 6px;
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: bold;
    align-items: center;
    align-self: center;
    color: #444;
}

a:hover .ev-weekday {
    color: gray;
}

.ev-weekday.sun {
    color: #bd7878;
    margin-right: 20px;
    margin-left: 20px;
}

a:hover .ev-weekday.sun {
    color: #d2a5a5;
}

.ev-weekday.sat {
    color: rgb(104, 148, 182);
}

a:hover .ev-weekday.sat {
    color: #86a6b3;
}

.ev-title {
    font-weight: bold;
    align-self: end;
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
}

.articles-item-link {
    text-decoration: none;
    color: black;
}

.articles-item {
    border-bottom: 1px solid gray;
}

.articles-item .title {
    font-weight: bold;
    font-size: 1rem;
}

.articles-item .date {
    margin-left: 15px;
    color: #555;
}

section.top .twitter-frame {
    max-width: 500px;
    margin: 0 auto;
}

/* article */

/* .post.content { */
/*     padding: 20px; */
/* } */

.post header {
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: var(--box-shadow);
}

.post header h2 {
    font-size: 28px;
    color: gray;
    text-align: center;
}

.post header h3 {
    font-size: 35px;
    text-align: center;
}

.post header .post-meta {
    margin: 0 auto;
    max-width: 900px;
    text-align: end;
    padding: 20px;
}

.post .TableOfContents {
    margin: 0 auto;
    max-width: 900px;
}

.post article {
    margin: 0 auto;
    max-width: 900px;
    color: black;
    padding: 50px 20px 100px 20px;
    background-color: #EEE;
}

.post article a {
    border-bottom: dotted 2px black;
}

.post .pager a {
    display: block;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    padding: 8px 40px;
    margin: 3px;
    transition: background-color 0.3s, color 0.3s;
    background-color: #EEE;
    box-shadow: var(--box-shadow);
}

.post .pager a:hover {
    color: white;
    background-color: #333;
}

@media screen and (max-width: 500px) {
    .post .pager {
        text-align: center;
    }
}

@media screen and (min-width: 500px) {
    .post .pager {
        display: flex;
        padding: 30px;
    }

    .post .pager a.prev-post {
        margin-right: auto;
    }

    .post .pager a.next-post {
        margin-left: auto;
    }
}

div.article-list {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

/* article list page */
div.article-list {
    text-align: center;
    background-color: #F5F5F5;
    padding: 60px 20px;
}

.article-list .content {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 200px;
}

a:hover {
    color: gray;
}
