<section class="row py-0 bg-light" id="activity">
  <div class="col-lg-6 col-img"></div>
  <div class="col-lg-6">
    <div class="container">
      <div class="row mb-3">
        <div class="col-md-10 offset-md-1">
          <h1 class="mt-5">活動内容</h1>
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class='bx bx-cloud'></i>
            </div>
            <div>
              <h5>もくもく会</h5>
              <p>
                土日 14:00〜 / 20:00〜<br>
                毎週末は、もくもく会を行っています。参加を促すDiscord Botをメンバーが作り導入しました。一緒にもくもく勉強をする仲間を募集しています。
              </p>
            </div>
          </div>
          <div class="feature d-flex mt-5">
            <div class="iconbox me-3">
              <i class='bx bx-conversation'></i>
            </div>
            <div>
              <h5>月例会</h5>
              <p>
                月例会は、月に1度行っています。月例会では、個人発表のLT（ライトニングトーク）やコミュニティの活動についての話し合い、メンバーとの交流会をします。
              </p>
            </div>
          </div>
          <div class="feature d-flex mt-5 mb-3">
            <div class="iconbox me-3">
              <i class='bx bxs-calendar-event'></i>
            </div>
            <div>
              <h5>イベント</h5>
              <p>
                講師をお招きしたり、メンバーが得意な技術を教えたりしています。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
