<div class="hero vh-100 d-flex align-items-center g-3" id="home">
  <div class="container g-3">
    <div class="row mt-0">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white"><div class="text-white">TENGINEER福岡</div></h1>
        <p class="text-white my-3">
          2022.4に結成された学生コミュニティ。<br>
          プログラミングや情報系の資格に興味のある仲間が集まり、Discord での交流やイベント開催を行っています。
        </p>
        <div class="sns-icons g-3">
          <a href="https://t.co/z4YzKP1dnd">
            <img src="{{ relURL "img/connpass.png" }}" alt="">
            <img src="{{ relURL "img/connpass2.png" }}" alt="">
          </a>
          <a href="https://twitter.com/TENGINEER2022"><i class='bx bxl-twitter'></i></a>
          <a href="https://forms.gle/5i7sUrXCTedGxqad6"><i class='bx bxl-discord-alt'></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
